<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VVE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <VVE.Properties.Settings>
            <setting name="VLogDataDir" serializeAs="String">
                <value>\\share\vlog_data</value>
            </setting>
            <setting name="VLogCfgDir" serializeAs="String">
                <value>\\share\vlog_data\configuratiebestanden</value>
            </setting>
            <setting name="KmlConfigDir" serializeAs="String">
                <value>\\share\vlog_data\kml</value>
            </setting>
            <setting name="InstellingWachttijdBezettijdVerweglus" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="InstellingWachttijdBezettijdKoplus" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="InstellingWachttijdNormRijtijdVerweglus" serializeAs="String">
                <value>5.0</value>
            </setting>
            <setting name="InstellingWachttijdMaxRijtijdVerweglus" serializeAs="String">
                <value>10.0</value>
            </setting>
            <setting name="InstellingWachttijdIntrekkenAanvraag" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="VRI" serializeAs="String">
                <value />
            </setting>
            <setting name="PeriodeVan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeriodeTot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VLogBestandEenheid" serializeAs="String">
                <value>dag</value>
            </setting>
            <setting name="InstellingIntervalMinuten" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="InstellingTellenMinHoog" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="InstellingTellenAlleenKoplussenCsv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvFilterMa" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvFilterDi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvFilterWo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvFilterDo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvFilterVr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvFilterZa" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvFilterZo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvFilterPer1Actief" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvFilterPer1Van" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CsvFilterPer1Tot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CsvFilterPer2Actief" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvFilterPer2Van" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CsvFilterPer2Tot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InstellingWachttijdIndivFietsersCsv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstellingTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DpfPostUrl" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="DpfPostUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DpfPostPass" serializeAs="String">
                <value />
            </setting>
            <setting name="DpfPostMaxSizekB" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DpfVriSelectie" serializeAs="String">
                <value>alle</value>
            </setting>
            <setting name="DpfAnalyse" serializeAs="String">
                <value>alle</value>
            </setting>
            <setting name="DpfAutoPostEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvAnalyse" serializeAs="String">
                <value>tellen</value>
            </setting>
            <setting name="DpfAutoPostDtTicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnalyseTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VLC" serializeAs="String">
                <value />
            </setting>
        </VVE.Properties.Settings>
    </userSettings>
</configuration>